.toast-container {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	width: 240px;
	z-index: 9999;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: flex-end;
}

.toast-wrapper {
	position: relative;
}
